@media screen and (max-width:1250px){
	.banner .slick-next {
		right: -535px;
	}
	.banner .slick-prev {
		right: -598px;
	}
}

@media screen and (max-width:1127px){
	.banner .slick-next {
		right: -435px;
	}
	.banner .slick-prev {
		right: -498px;
	}
}

@media screen and (max-width:1018px){
	.banner .slick-next {
		right: -235px;
	}
	.banner .slick-prev {
		right: -298px;
	}
}

@media screen and (max-width:993px){
	.proc__inner {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.proc__box {
		width: 280px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:870px){
	.header__list {
		display: none;
	}
}

@media screen and (max-width:815px){
	.banner .slick-dots {
		left: 18%;
		right: 0;
	}
	.banner .slick-next {
		right: 54px;
	}
	.banner .slick-prev {
		right: 0;
	}
	.banner__box {
		position: static;
		margin: 0 auto;
	}
	/*.banner {
		max-width: 394px;
	}*/
	.banner__content-title {
		font-size: 30px;
	}
	.banner__box {
		margin-top: 40px;
	}
}

@media screen and (max-width:612px){
	.mobile__scroll {
		overflow-x: scroll;
	}

	.product__list {
		width: 2500px;
		flex-wrap: nowrap;
	}
}

@media screen and (max-width:520px){
	.search {
		display: none;
	}
	.banner__content  {
		padding: 60px 20px 20px 20px;
	}
	.banner__content-btn {
		padding: 4px 10px;
		max-width: 260px;
		margin: 0 auto;
	}
	s 
}